@import url("https://fonts.googleapis.com/css?family=Cabin|Quicksand");

/* Fonts */
$heading-font-family: "Cabin", Helvetica, Arial, sans-serif;
$primary-font-family: "Quicksand", Helvetica, Arial, sans-serif;

/* Colors */
$black: #000;
$danger: #c00;
$dark: #272727;
$dark-grey: #555;
$disabled: #eee;
$grey: #777;
$hover: #eee;
$info: #ffc107;
$light: #ccc;
$light-grey: #aaa;
$primary: #208fc6;
$secondary: #315c9a;
$success: #8cc845;
$warning: #f1872e;
$white: #fff;

/* Sizes */
$header-height: 60px;
$menu-width-collapsed: 64px;
$menu-width-expanded: 240px;
